@media only screen and (max-width: 600px) {
    .container {
      background-color: #F1F2B5;
      justify-items: center;
      padding: 100px;
    }
    .form-label{
        font-size:16px;
    }
}



@media only screen and (min-width: 600px) {
    .container {
      background-color: #F1F2B5;
      padding: 80px;
      margin-top: 50px;
    }
    .form{
        text-align: center;
        /* margin-left: 280px; */
        align-items: center;
        padding-left: 380px;
    }
    .btn {
        margin-right: 350px;
    }
    .heading{
        text-decoration: underline;
        text-align: center;
    }

}
